#welcome-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    height: 100vh;
    .title{
        width: 80%;
        animation-name: movimiento2;
        animation-iteration-count: initial;
        animation-duration: 3s;
        h1{
            font-size: 1.5rem;
            color: #fff;
            margin-top: 1.3rem;
            font-weight: 500;
            padding: 10px;
        }
        p{
            font-size: 0.9rem;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #fff;
            padding: 10px;

        }
        a{
            font-size: 1rem;
            color: #fff;
            margin-left: 10px;
            background-color: $color-secundario;
            padding: 5px 15px;
            border-radius: 2rem;
            box-shadow: 2px 2px 3px $color-principal;
        }
    }
    .imagen{
        text-align: center;
        img{
            max-width: 300px;
            width: 100%;
            border-radius: 50%;
        }
    }
}
